* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:darkgoldenrod;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: linear-gradient(to right, #3A6073, #16222A);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary div {
    flex: 1;
    padding: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    width: 400px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    margin-top: 20px;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image:linear-gradient();
    margin-bottom: 10px;
    border-left: 4px solid;
}

ul li.income {
    border-color: #28a745;
}

ul li.expense {
    border-color: #dc3545;
}

ul li button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

ul li button:hover {
    background-color: #c82333;
}

.filter-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}